/*******************************************************
Colors
*******************************************************/
$white: #FFFFFF;

$turquoise: #1ABC9C;
$green-sea: #16A085;

$emerald: #2ECC71;
$nephritis: #27AE60;

$peter-river: #3498DB;
$belize-hole: #2980B9;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

$sun-flower: #F1C40F;
$orange: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$clouds: #ECF0F1;
$silver: #BDC3C7;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

$pantone-202c: #9D183D;
$pantone-429c: #B1B7BB;

$pantone-206c: #CB0044;

/*******************************************************
Mixins
*******************************************************/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

/*******************************************************
Header Bar
*******************************************************/
.navbar {
    background-color: $pantone-202c;
    color: $white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: $pantone-206c;
}

.navbar-inverse, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $pantone-206c;
}

.navbar img {
    max-height: 100%;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: $pantone-206c;
}

.navbar-inverse .navbar-nav>li>a {
    color: $white;
}